<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include snippets/header.ejs %>
</head>
<body>
  <nav id="fh5co-main-nav" role="navigation">
    <% include snippets/mobile_nav.ejs %>
  </nav>
  <div id="fh5co-page">
    <header>
      <% include snippets/nav.ejs %>
    </header>
        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                      <h2>About Built With Shopify</h2>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <p>Built with Shopify interviews ecommerce founders who are using the Shopify platform to grow their business.
                                Our aim is to create a resource for new ecommerce startups to find inspiration and to help existing stores avoid mistakes and find what tools have helped improve their revenue.</p>
                                <p>Built with Shopify is run by <a href="https://www.twitter.com/_bitossi">Josh Bitossi</a> with no affiliation to Shopify. Feel free to <a href="/contact">contact me</a> about Built with Shopify or anything else.</p>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <footer>
          <% include snippets/footer.ejs %>
        </footer>
      </div>
        <% include snippets/page_scripts.ejs %>
  </body>

</html>
