<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include snippets/header.ejs %>
</head>
<body>
  <% include snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2>Blog</h2>
                        <h3>We don't have any blog posts just yet ☹️ but thanks for looking</h3>
                        <h4></h4
                        <!-- Begin MailChimp Signup Form -->
                        <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css"> -->

                        <div id="mc_embed_signup" style="margin-left: auto; margin-right: auto;">
                        <form action="//builtwithshopify.us15.list-manage.com/subscribe/post?u=31208a1eb940d0c26c73f4bd0&amp;id=1cc7d644b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                        	<label for="mce-EMAIL">You can sign up here to get our first post</label>
                        	<input type="email" style="margin-left: auto; margin-right: auto;" value="" name="EMAIL" class="email form-control footer" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31208a1eb940d0c26c73f4bd0_1cc7d644b5" tabindex="-1" value=""></div><br />
                        			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe">
                        </form>
                        </div>
                        <br />

                        <!--End mc_embed_signup-->

                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">


                            </div>
                        </div>
                        <% include snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include snippets/footer.ejs %>
  </body>

</html>
