<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include snippets/header.ejs %>
</head>
<body>
  <nav id="fh5co-main-nav" role="navigation">
    <% include snippets/mobile_nav.ejs %>
  </nav>
  <div id="fh5co-page">
    <header>
      <% include snippets/nav.ejs %>
    </header>

				<div id="portfoliolist" class="animate-box">

					<div id="fh5co-contact-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
									<h2>Contact Us</h2>
									<h3>Thanks 😊 We'll be in touch.</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-push-8 animate-box">
									<ul class="contact-info">
										<li><i class="icon-globe2"></i><a href="#">www.builtwithshopify.com</a></li>
									</ul>
								</div>
								<div class="col-md-8 col-md-pull-4 animate-box">
									<div class="row">
										<div class="col-md-6">
											<form action="/contact" enctype="multipart/form-dat" method="post">
												<fieldset>
													<div class="form-group">
														<input type="text" name="name" class="form-control" placeholder="Name" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<input type="text" name="email" class="form-control" placeholder="Email" required>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<textarea name="message" class="form-control" id="" cols="30" rows="7" placeholder="Message" required></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="submit" value="Send Message" class="btn subscribe">
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
		<!-- END fh5co-portfolio-section -->


            <footer>
              <% include snippets/footer.ejs %>
            </footer>
          </div>
            <% include snippets/page_scripts.ejs %>
	</body>
</html>
