<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include snippets/header.ejs %>
</head>
<body>
  <% include snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2>Shopify Resources</h2>
                        <h3>Apps, photography, communities and everything else to help you launch & grow your ecommerce store.</h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <h3>Stock Photography</h3>
                                <ul>
                                  <li><a href="https://unsplash.com/">Unsplashed.com</a></li>
                                  <li><a href="https://StockSnap.io">StockSnap.io</a></li>
                                </ul>
                              <h3>Image Editing</h3>
                                <ul>
                                  <li><a href="http://pixc.com/">Pixc</a> - photo editing platform that provides transforms your images into professionally edited photos.</li>
                                  <li><a href="https://www.gimp.org/">Gimp</a> - free, open source photoshop</li>
                                  <li><a href="https://www.sketchapp.com/">Sketch</a> - Mac  image editingApp for digital and web design </li>
                                  <li><a href="https://www.canva.com/">Canva</a>- amazingly simple image editing</li>
                                </ul>
                              <h3>Communities</h3>
                                <ul>
                                  <li><a href="http://www.reddit.com/r/entrepreneur">/r/Entrepreneur</a></li>
                                  <li><a href="http://www.reddit.com/r/shopify">/r/Shopify</a></li>
                                  <li><a href="http://producthunt.com/">Product Hunt</a>- the latest tech products and apps</li>
                                  <li><a href="http://entrepreneur.com/">Entrepreneur.com</a></li>
                                  <li><a href="http://www.appsumo.com/serpstat/">AppSumo</a> - </li>
                                  <li><a href="http://www.startupdaily.net/">Startup Daily</a></li>
                                  <li><a href="https://www.facebook.com/groups/498010683681188/">Facebook Grow & Sell group</a></li>
                                </ul>
                                <h3>Websites</h3>
                                  <ul>
                                    <li><a href="https://www.abetterlemonadestand.com/">A Better Lemonade Stand</a></li>
                                    <li><a href="http://www.startupdaily.net/">Startup Daily (Aus & NZ)</a></li>
                                  </ul>
                              <h3>Podcasts</h3>
                                <ul>
                                  <li><a href="https://mixergy.com/interviews/">Mixergy</a>- Interviews with founders</li>
                                  <li><a href="http://a16z.com/podcasts/">a16z</a>- Andreessen Horowitz VC firm tech podcast</li>
                                  <li><a href="https://www.shopify.com.au/podcasts/shopify-masters">Shopify Masters</a></li>
                                </ul>
                              <h3>Shopify Resources</h3>
                                <ul>
                                  <li><a href="https://help.shopify.com/?ref=builtwithshopify">Shopify Help Center</a></li>
                                </ul>
                              <h3>Product Management</h3>
                                <ul>
                                  <li><a href="https://trello.com/">Trello</a></li>
                                </ul>
                              <h3>Email</h3>
                              <ul>
                                <li><a href="https://mailchimp.com/">Mailchimp</a></li>
                                <li><a href="https://sendout.io/">Sendout</a></li>
                                <li><a href="https://sendgrid.com/">Sendgrid</a></li>
                              </ul>
                              <h3>Analytics</h3>
                                <ul>
                                  <li><a href="https://mixpanel.com/">Mixpanel</a></li>
                                  <li><a href="https://www.hotjar.com/">Hotjar</a> - use heatmaps to see how your users interact with your website.</li>
                                </ul>
                              </h3>
                              <h3>Shopify Themes and Software</h3>
                                <ul>
                                  <li><a href="http://troopthemes.com/">Troop Themes</a></li>
                                  <li><a href="https://www.pixelunion.net/">Pixel Union</a></li>
                                </ul>
                              <h3>Landing Pages</h3>
                                <ul>
                                  <li><a href="https://instapage.com/">Instapages</a></li>
                                </ul>
                              <h3>Customer Service</h3>
                                <ul>
                                  <li><a href="https://www.intercom.com/">Intercom</a></li>
                                  <li><a href="https://www.zendesk.com/">Zendesk</a></li>
                                </ul>
                              <h3>Content Marketing</h3>
                                <ul>
                                  <li><a href="https://dashboard.laterforreddit.com/analysis">Later for Reddit - find the best time to post to a subreddit</a></li>
                                </ul>
                              <br />
                              <p>Have a resource you'd recommend? Leave a comment or <a href="/contact">contact</a> us.</p>
                            </div>
                        </div>
                        <% include snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include snippets/footer.ejs %>
  </body>

</html>
