<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include snippets/header.ejs %>
</head>
<body>
  <nav id="fh5co-main-nav" role="navigation">
    <% include snippets/mobile_nav.ejs %>
  </nav>
  <div id="fh5co-page">
    <header>
      <% include snippets/nav.ejs %>
    </header>

				<div id="portfoliolist" class="animate-box">

					<div id="fh5co-contact-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
									<h2>Thank you for your submission!</h2>
									<h3>We'll be in touch soon.</h3>
									<img src="images/apple.png" style="width: 20%; height: 20%;" />
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
		<!-- END fh5co-portfolio-section -->
    <footer>
      <% include snippets/footer.ejs %>
    </footer>
  </div>
    <% include snippets/page_scripts.ejs %>

	</body>
</html>
