<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Built With Shopify &mdash; Learn from successul stores built with Shopify</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Learn from successul stores built with Shopify" />
	<meta name="keywords" content="shopify, built with shopify, start a store with shopify, shopify apps" />
	<meta name="author" content="Built With Shopify" />

  <!--
	//////////////////////////////////////////////////////

	Built with Shopify was built on top of the Agent tempalte from http://freehtml5.co/
	Check them out, they have tonnes of excellent, well designed templates that will
	let you focus on your business.

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- Google Analytics -->
	<% include snippets/google_analytics.ejs %>
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- FontAwesome -->
	<script src="https://use.fontawesome.com/8b5f4c1dff.js"></script>

	<link rel="stylesheet" href="../../css/style.css">


	<!-- Modernizr JS -->
	<script src="../../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<nav id="fh5co-main-nav" role="navigation">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
		<div class="js-fullheight fh5co-table">
			<div class="fh5co-table-cell js-fullheight">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/shopify-resources">Resources</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/submit">Submit</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div id="fh5co-page">
		<header>
			<div class="container">
				<div class="fh5co-navbar-brand">
					<a class="fh5co-logo" href="/">Built with <span class="fh5co-logo" style="color:#7ab55c;">Shopify</span></a>
				</div>
				<nav id="main-nav" role="navigation">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/shopify-resources">Resources</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/submit">Submit</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a type="submit" class="btn subscribe menu" value="Subscribe" id="open-mc-popup" href="#" onclick="showMailingPopUp()";></a></li>
					</ul>
				</nav>
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			</div>
		</header>


				</ul>

				<div id="portfoliolist" class="animate-box">

					<div id="fh5co-contact-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
									<h2>Submit your Store</h2>
									<p>Interested in being featured on Built with Shopify? Simply fill out the form below and I'll get back to you via email with some follow up email questions.</p>
									</div>
							</div>
							<div class="row">

								<div class="col-md-7  animate-box">
									<div class="row">
											<form action="/submit" enctype="multipart/form-dat" method="post">
													<fieldset>
													<!-- Name of the business -->
													<div class="col-md-8">
														<div class="form-group">
															<label for="business-name">What is the name of your business?</label>
															<input type="text" name="business-name" class="form-control" placeholder="John's Apple Store" required>
														</div>
													</div>
													<!-- URL Link -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="website-url">What is your website URL?</label>
															<input type="text" name="website-url" class="form-control" placeholder="www.johns-awesome-apples.com" required>
														</div>
													</div>
													<br />
													<!-- Name -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="founder-name">What is your name?</label>
															<input type="text" name="founder-name" class="form-control" placeholder="John Applesmith" required>
														</div>
													</div>
													<!-- Email Address -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="email-address">What is your email address?</label>
														</br><span>Only used for sending questions</span>
															<input type="text" name="email-address" class="form-control" placeholder="josh@johnsapples.com" required>
														</div>
													</div>
													<!-- How would you describe it in a few words -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="description">How would you describe your store in a few words?</label>
															<input type="text" name="description" class="form-control" placeholder="We sell crispy, crunchy apples." required>
														</div>
													</div>
													<!-- What category / industry are you in? -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="industry">What industry do you operate in?</label>
															<input type="text" name="industry" class="form-control" placeholder="Food" required>
														</div>
													</div>
													<!-- Dropshipping -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="dropship">Do you dropship or have a subscription business?</label>
															<input type="text" name="dropship" class="form-control" placeholder="Yes" required>
														</div>
													</div>
													<!-- When did you start you store -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="start_date">When did you start your online store?</label>
															<input type="text" name="start_date" class="form-control" placeholder="March, 2013" required>
														</div>
													</div>
													<!-- Do you have a retail store as well? -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="retail">Do you also operate a retail store?</label>
															<input type="text" name="retail" class="form-control" placeholder="Yes" required>
														</div>
													</div>
													<!-- How many employees including yourself? -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="employees">How many employees do you have not including yourself?</label>
															<input type="number" min="1" name="employees" class="form-control" placeholder="1" required>
														</div>
													</div>
													<!-- What country are you based in? -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="country">What country are you based in?</label>
															<input type="text" name="country" class="form-control" placeholder="Australia" required>
														</div>
													</div>
													<!-- Average monthly revenue / order volume? -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="revenue">What is your average monthly revenue or order volume?</label>
															<br /><span>This won't be shared without your consent but it will help us verify your store.</span>
															<input type="text" name="revenue" class="form-control" placeholder="$40,000" required>
														</div>
													</div>
													<!-- Anything else interesting? -->
													<div class="col-md-12">
														<div class="form-group">
															<label for="revenue">Anything else you'd like to add?</label>
															<textarea name="message" class="form-control" id="" cols="30" rows="7" placeholder="Message" required></textarea>
														</div>
													</div>
													<!-- Submit Button -->
													<div class="col-md-12">
														<div class="form-group">
															<input type="submit" value="Submit" class="btn subscribe">
														</div>
													</div>
											</fieldset>
										</form>

									</div>
								</div>
									<div class="col-md-5  animate-box">
										<h3>Why share?</h3>
										<p>Built with Shopify is a growing community of Shopify store owners, developers and entrepreneurs.
										By sharing your store you are showcasing it to your next potential partner, employee or developer.
										<br />You will be helping to grow the ecommerce community and in return for sharing your story we provide a free source of traffic, PR and S.E.O links.</p>
										<h3>Who are we looking for?</h3>
										<p>If you have a store that is a full-time business or earning a significant side-income I'd love to hear from you.
										Preference is given to stores who can disclose monthly order figures, sales revenue or other quantitative indicators of growth.
										<br />Money talks, but if you have a unique or interesting store you would also be a great fit. People sell everything from <a href="/case-studies/naak-bar">insect energy bars</a>
										to <a href="case-studies/midori-bikinis">bikinis</a> and we want to reflect that in our interviews. </p>

									</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		<!-- END fh5co-portfolio-section -->

		<footer>
			<div id="footer" class="fh5co-border-line">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>Copyright 2017 United By Apps. All Rights Reserved. </p>
						</div>
						<div class="col-md-6 social-text-align">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter-with-circle"></i></a>
								<a href="#"><i class="icon-facebook-with-circle"></i></a>
								<a href="#"><i class="icon-instagram-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Portfolio Filter Mixitup -->
	<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="../js/main.js"></script>

	</script>

	</body>
</html>
