	<div id="footer" class="fh5co-border-line">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p style=>Copyright 2017 United By Apps. All Rights Reserved. No Affiliation with <a href="http://1.shopifytrack.com/SHaj">Shopify</a>.</p>
				</div>
				<div class="col-md-3">
					<a href="https://twitter.com/bwshopify" class="twitter-follow-button" data-show-count="false">Follow @bwshopify</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div class="col-md-6 social-text-align">
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-twitter-with-circle"></i></a>
						<a href="#"><i class="icon-facebook-with-circle"></i></a>
						<a href="#"><i class="icon-instagram-with-circle"></i></a>
					</p>
				</div>
			</div>
		</div>
	</div>
