<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Built With Shopify &mdash; Shopify ecommerce case studies</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Learn from successul ecommerce stores built with Shopify" />
<meta name="keywords" content="shopify, built with shopify, start a store with shopify, shopify apps" />
<meta name="author" content="Built With Shopify" />

<!--
//////////////////////////////////////////////////////

Built with Shopify was built on top of the Agent tempalte from http://freehtml5.co/
Check them out, they have tonnes of excellent, well designed templates that will
let you focus on your business.

//////////////////////////////////////////////////////
 -->

  <!-- Facebook and Twitter integration -->
<meta property="og:title" content="Built with Shopify"/>
<meta property="og:image" content="favicons/ms-icon-310x310.png"/>
<meta property="og:url" content="https://www.builtwithshopify.com"/>
<meta property="og:site_name" content="Built with Shopify"/>
<meta property="og:description" content="Case study on how a successful Shopify ecommerce store grew their business"/>
<meta name="twitter:title" content="Built with Shopify" />
<meta name="twitter:image" content="favicons/ms-icon-310x310.png" />
<meta name="twitter:url" content="http://www.builtwithshopify.com" />
<meta name="twitter:card" content="" />

<% include favicons.ejs %>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


<!-- Mailchimp popup form code -->
<!-- MAILCHIMP MODAL FORM -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script type="text/javascript">
  function showMailingPopUp() {
   require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"31208a1eb940d0c26c73f4bd0","lid":"1cc7d644b5"})
   document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";

  })
   };
 </script>
 <!-- Google Analytics -->
 <% include google_analytics.ejs %>
<!-- Animate.css -->
<link rel="stylesheet" href="../css/animate.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="../css/bootstrap.css">
<!-- FontAwesome -->
<script src="https://use.fontawesome.com/8b5f4c1dff.js"></script>

<link rel="stylesheet" href="../css/style.css">


<!-- Modernizr JS -->
<script src="../js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->

<!-- Mailchimp popup form code -->
<!-- MAILCHIMP MODAL FORM -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
