<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3><a href="<%= link %>">Audionation</a> discusses importing and distributing audio products on Shopify after switching from Wix.</h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <!-- Start Interview -->
                              <h4><strong>Could you tell us a bit about the story behind AUDIONATION and what you sell?</strong></h4>
                              <p>After significant changes in both my personal and corporate life, I decided to start my own import and distribution business with a focus on design oriented HIFI stereo products for the modern home. One of the great pleasures in my life has been music and I feel it&rsquo;s important to play music on quality high fidelity stereo equipment. </p>
                              <figure>
                              <img class="img-responsive" alt="audionation" src="/images/audionation/audionation_shopify_1.png">
                              <figcaption class="figure-caption text-center">Audionation imports and distributes a wide range of audio products</figcaption>
                              </figure>
                              <br />
                              <p>Our products are sourced primarily from Europe and more specifically Britain and Denmark, arguably the two countries which have had the most influence on sound and design. We work in conjunction with a network of independent bricks and mortar retailers throughout Canada.</p>
                              <h4><strong>Has ecommerce been apart of AUDIONATION since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                              <p>eCommerce was part of our business model from the beginning. We initially started with  Wix which was fine visually but lacked the capabilities we required from a commerce perspective. I didn&rsquo;t like the templates Volusion and Big Commerce offered and we literally came across Shopify in the process of trying to find a solution that checked all the boxes. We were promoting products from a design perspective &nbsp;and I always felt that the site needed to reflect that within a given budget and my technical abilities, which were limited. Shopify had the best looking templates and combined it with what was to me the most logical workflow for building an ecommerce site. When I found out that Shopify was a Canadian company...it was a no brainer.</p>
                              <h4><strong>You also have pages on social media platforms Facebook, Twitter, and Instagram. How have you found each of these media platforms to be beneficial to the consumer awareness and brand expansion of your business?</strong></h4>

                              <p>Frankly, I still struggle with Facebook. I recognize the power of the platform but from a business perspective it has developed its own ecosystem and requires outside expertise to really master, in my opinion. A critical mass is required to use many of the automated apps available and it&rsquo;s difficult to gain the mass without the apps so for a small business like ours, it&rsquo;s a real conundrum.</p>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>The easiest and most effective way to get started with Facebook is by using an app like <a href="http://promo.boldcommerce.com/promo/?ref=builtwithshopify">Social Autopilot</a> or <a href="http://1.shopifytrack.com/SHV7">Shoelace</a> which shows ads to people who have visited your site.</span>
                              </div>
                              <p> I prefer the immediacy and simplicity of both Twitter and Instagram. Of course the visual component of Instagram in particular. Our products are largely skewed to an older, male audience currently and our involvement with the social platforms is primarily to garner more interest from women and a younger audience. It has been secondary in our efforts and our results have been understandably lackluster so far. It&rsquo;s something that we will focus on much more closely in the months ahead as we converge our products with these demographic groups.</p>
                              <h4><strong>What are your most successful marketing avenues?</strong></h4>
                              <p>We sell sound...so it&rsquo;s a bit like selling perfume without getting to smell it. Our most successful marketing is customer service and we work hard to make sure our customers are thrilled with the products and service they receive. We rely&nbsp;heavily on the &ldquo;and they told 2 people&rdquo; way of doing business. Occasional email campaigns through MailChimp allow us to keep in touch and update our existing customer base without being intrusive.</p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                              <p>I built it myself. It only took a few weeks to get started but as we&rsquo;ve grown we have installed new templates and updated our site to improve SEO, speed and the look and feel generally. It is a constant evolution and I enjoy refreshing the site or introducing new products through our blog. </p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <div class=" col-md-3 animate-box tip-box-right pull-right">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></h4>
                                <span>Shopify is strict on the themes they allow in their store. Check out other reputable theme stores like <a href="https://outofthesandbox.com">Out of the Sandbox </a>for a wider range of themes for your store.</span>
                              </div>
                              <p>We&rsquo;ve installed <a href="http://1.shopifytrack.com/SHX5">Retina</a>, <a href="http://1.shopifytrack.com/SHX9">Symmetry</a>, <a href="http://1.shopifytrack.com/SHXD">Masonry</a>, <a href="http://1.shopifytrack.com/SHVj">Parallax</a> in the past and are now using <a href="http://1.shopifytrack.com/SHXH">Turbo</a>. </p>
                              <p>We have been focusing more and more on optimization and as our business becomes more complex we wanted the features that Turbo brings to the table.</p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                              <p>We have or are using:</p>
                              <ul>
                              <li><a title="Shopify Alt text" href="http://1.shopifytrack.com/SHWt">Alt Text</a></li>
                              <li><a href="http://1.shopifytrack.com/SHUt">Image Optimizer</a></li>
                              <li><a title="Shopify mailchimp" href="http://1.shopifytrack.com/SHUN">MailChimp</a></li>
                              <li><a href="http://1.shopifytrack.com/SHWx">Product Reviews</a></li>
                              <li><a title="shopify seo" href="http://1.shopifytrack.com/SHUx">SEO</a></li>
                              <li><a title="Shopify store locator" href="http://1.shopifytrack.com/SHW7">Store Locator</a></li>
                              <li>and most recently we&rsquo;ve added <a href="http://1.shopifytrack.com/SHX1">Yo</a>.</li>
                              </ul>
                              <p>Anything that improves your performance can&rsquo;t be bad...but essential apps for us are Store locator, MailChimp and I like the life that Yo brings to our site.</p>
                              <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                              <p>Short of starting on Shopify sooner, I&rsquo;m not sure that I could have done anything differently. You can&rsquo;t know what you don&rsquo;t know and the process is more important than the destination when you are starting a company. Get the processes right and the company will take care of itself. I have read many of the Shopify blogs and learn the most from reading about other business owners, listening to customer feedback and incorporate solutions that improve our customer experience.</p>

                              <!-- End Interview -->
                              <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
