<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3><a href="https://jewelv.com/">JewelV</a> is one of the more impressive Shopify sites you will see. Their custom 3D software lets customers design their own unique jewelry. Sam shares how they got started. </h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <h4><strong>Could you tell us a bit about the story behind JEWELv and what you sell?</strong></h4>
                              <p>JEWELv is the world&rsquo;s first online fine jewelry brand that combines customizable jewelry with 3D display technology. I started JEWELv while completing my undergraduate studies at Babson College. I knew I wanted create a way for people to buy jewelry like never before. I can&rsquo;t think of many other 21 year old&rsquo;s changing the jewelry industry like this. </span></p>
                              <h4><strong>Has ecommerce been apart of JEWELv since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                              <p>Yes JEWELv has always been a ecommerce shop, we have yet to open or sell our products in physical stores. When I was creating JEWELv&rsquo;s ecommerce site, I knew Shopify was the way to go. I already had some experience with Shopify&rsquo;s easy to use backend and absolutely loved the variety of add-ons in their app store. Without a full-time developer on staff, it was imparative to my operation that I would be able to handle small website changes, changing product, and uploading content. With Shopify I can do it all.</span></p>
                              <h4><strong>What are your most successful marketing avenues?</strong></h4>
                              <p>We&rsquo;ve seen great traffic coming from our <a href="https://jewelv.com/blogs/news">blog posts</a>, they&rsquo;ve certainly been a huge source. We write to answer questions that lots of our customers have about jewelry and gemstones. This helps a lot with coming up in search results for the types of questions people typically ask around jewelry subjects. We&rsquo;re still trying to figure out social media to the best of our ability, so far Facebook has sent the most traffic to JEWELv.com, but we&rsquo;ve been able to accumulate the most followers and engagement per post on <a href="https://www.instagram.com/jewelvteam/">Instagram</a>. We hope to continue to improve all our inbound marketing strategies.</span></p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                              <p>We hired a designer and a developer to build us a custom store when we began. At the time it seemed great, but it has since proven a poor decision. Due to inexperience in the design end of things, I wasn&rsquo;t able to communicate well with my designer about what I wanted. Then the developer was necessary to code the custom theme and create the 3D display integrations. From start to launch it took just over 9 months.</span></p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>We started with a custom theme but it was very expensive, looked outdated, and didn&rsquo;t convert for us. Currently we are going through a redesign built on top of the Parallax theme. Doing lots of customizations using a page builder from the Shopify App store and it&rsquo;s been fantastic. Excited to see the results from our redesign. </span></p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                              <p>A few apps I&rsquo;ve been impressed with are:</span></p>
                              <ul>
                              <li><a href="https://apps.shopify.com/socialshopwave">SocialShopWave</span></a> for everything from Social Login to shopping our Instagram page</span></li>
                              <li><a href="https://apps.shopify.com/tawk-to">Tawk.to Live Chat</a></span> for extensive live chat abilities with customers, and</span></li>
                              <li><a href="https://apps.shopify.com/hypervisual">Hypervisual</span></a> our newly found page builder.</span></li>
                              </ul>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Shopify have <a href="https://help.shopify.com/manual/sell-online/facebook-sales-channel">guides</a> on selling through Facebook and other channels.</span>
                              </div>
                              <p>These 3 apps have been incredibly important for our business as they all drastically increase the customer&rsquo;s online shopping experience.</span></p>
                              <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                              <p>I would do a lot differently if I had to start over. More market research, not starting with a custom design, and being a bit less lenient on spending.</span></p>
                              <p>Articles from business and ecommerce blog sites are full of super helpful information. Subscribe yourself to <a href="https://www.shopify.com.au/blog">shopify&rsquo;s blog</a>, <a href="https://www.entrepreneur.com/">entrepreneur.com</a>, <a href="http://www.appsumo.com/serpstat/">appsumo</a>, startups daily, and there&rsquo;s a million others.</p>
                              <p>Also going to small business or startup related events in your area can be a huge help. You can easily learn from experienced entrepreneurs, network, and it&rsquo;s a fantastic motivational boost to meet other entrepreneurs.</p>

                              <% include ../snippets/mailchimp_footer.ejs %>

                       </div>

                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>

            </div>

        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
