<!DOCTYPE html>
<!--[ lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></strong></h1>
                        <h3>Daniel and his wife created <a href="<%= link %>"><%= title %></a>  to share a fun way they found to keep their kids entertained. They've launched recently using
                        social media and their parenting blog.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">
                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <!-- Start Interview -->
                              <h3><strong>Could you tell us a bit about how you came up for the idea behind Keep Em Quiet and how you got your first sale?</strong></h3>
                              <p>We came up with KeepEmQuiet because we have 2 children and we travel - we had to continually purchase expensive items to keep them entertained whilst traveling not to mention we are busy people and shopping around for things is time consuming - so we wanted an inexpensive solution delivered to our doors without the hassle. We started to make little travel packs for our son and friends started seeing them. Random strangers on airplanes and in airports did too and I thought - hey why not start a business out of it?</p>
                              <p>
                                <figure>
                                  <img class="img-responsive" style="width: 60%;" alt="studio proper" src="/images/keepemquiet/built-with-shopify-keep-em-quiet.jpg">
                                    <figcaption class="figure-caption text-center"><a href="https://www.keepemquiet.com/">Keep Em Quiet</a> makes inexpensive, fun travel packs for kids.</figcaption>
                                  </img>
                                </figure>
                              </p>
                              <p>The iPad only does the job for so long (and they are actually thinking of banning them on planes soon!) and kids like tangible items that they can get creative with and parents can get involved too, stickers, activities, crafts etc. We actually got our first sale  prior to launching as we have a big Instagram presence so people were ordering prior to launching. On the day of our Shopify launch we had 20+ orders!</p>
                              <h3><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h3>
                              <p>The content was done by ourselves. We then used a designer to put it all together. It took roughly 4 weeks.</p>
                              <h3><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h3>
                              <p>We use loads of apps, they are great. So far <a title="Judge.me shopify app" href="http://1.shopifytrack.com/SHU3">Judge.Me</a>, <a title="Takw.to Shopify app" href="http://1.shopifytrack.com/SHWB" target="_blank">Tawk.to,</a>&nbsp;<a title="Recart Shopify App" href="http://1.shopifytrack.com/SHcP" target="_blank">ReCart</a> are our favourites. Instagram &amp; Facebook are the biggest conversions for us.</p>

                              <h3><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h3>
                              <p>I don&rsquo;t want to give specifics, but for an eCommerce store in its infancy (we launched 5 months ago) we are above average in terms of sales. I would suggest building a social media presence specifically targeting your customer base prior to launching. </p>
                              <h3><strong>Do you have an advertising or SEO strategy?</strong></h3>
                              <p>Our SEO has been organic, we don't pay anyone for it and surprisingly we are doing ok in that regard. We use Google AdWords (which are abit hit or miss) and we do promoted Facebook posts - nothing huge budget wise as we are a small growing company. </br>We collaborate with Instagram influencers and make sure we take pride in what we post on social media platforms, we really care about the content and want to make it engaging - its no use continually posting picture of your products, so we make it humorous. My wife who is the co-founder is a parenting blogger so every week we post a new blog post related to parenting, we find we get a decent amount of traffic that way and I think its because they see we are real people who created our product to solve a real problem parents face whilst traveling.</p>
                              <div class=" col-md-3 animate-box tip-box-right pull-right">
                                  <span style="color: #7ab55c; margin-bottom: 0px;" class="fa fa-quote-left" aria-hidden="true"></span>  <span>Its no use continually posting picture of your products, so we make it humorous.</span><span style="color: #7ab55c;" class="fa fa-quote-right" aria-hidden="true"></span></br>

                              </div>
                              <h3><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h3>
                              <p>
                              Probably not very much, we are happy with how things are going and excited everyday about our business. Nothing is a chore, its an ejoyable business to run. As always a large advertising budget have helped but you can only afford to do what you can do, so we&rsquo;ve made the most out of our social media (which is free!) to get traffic. Hopefully if things continue the way they have we can start to spend more on advertising.
                              </p>
                              <!-- End Interview -->
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <% include ../snippets/footer.ejs %>
        </footer>
    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
