<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3>Steve talks about the lessons learned turning <a href="http://www.gokitchenpro.com/">Kitchen Pro</a> into a largely automated business on Shopify using Fulfilment By Amazon</h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                            <h4><strong>Could you tell us a bit about the story behind Kitchen Pro and what you sell? </strong></h4>
                            <p><a href="http://www.gokitchenpro.com/">KitchenPro</a> started as a side project on Amazon, I&rsquo;d heard a podcast about people who were making serious income with Amazon FBA selling private label products, so I decided to look into it for myself. I
                                went through a course to learn the basics of sourcing private label products and how to sell them on Amazon. It was definitely not as easy as I&rsquo;d expected, I ran into issues with product quality, supplier responsiveness, and with shipping bills
                                that were quite different than the quotes. <br />I started out planning on selling protein shaker bottles, but after several samples I realized that the numbers just didn&rsquo;t work. For the suppliers that could sell me a small enough quantity to get
                                started (500), the price was just too high to make any profit. So, I switched niches to high end kitchenware, and re-launched the business as KitchenPro. <br />My main product is silicone &amp; stainless steel kitchen tongs, with a built in stand to keep
                                the tong heads up off the counter.<br /></p>
                                <div style="text-align: center;">
                                  <iframe class="img-responsive" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGoKitchenPro%2Fvideos%2F318734108250696%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                                </div>
                          <p>This item is still selling through Amazon FBA, just a few units a day but totally automated and without spending anything on ads, for passive income. The rest of the products are only available through the new Shopifysite, and focus on mostly durable and eco-friendly stainless steel or silicone kitchen tools.</p>
                            <h4><strong>Has ecommerce been apart of Kitchen Pro since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                            <p>Yes, this business has always been focused on ecommerce. The Amazon FBA portion was launched in late 2015 and toward the end of 2016 I started building out the Shopify site. I was already using Shopify for another business I&rsquo;m involved with, and
                                I love how easy it is to get started, add products, and add functionality with plugins. Yes there are cheaper options (WooCommerce, for example) but the time saved with Shopify more than makes up for it, in my opinion.</p>
                            <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                            <div class=" col-md-3 animate-box tip-box-right pull-right">
                              <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></h4>
                              <span><a target="_blank" href="https://apps.shopify.com/retail-ready-photos-by-pixc">Pixc</a> is a great tool that edits product photography for you.
                            </div>
                            <p>
                            <p>I built the store myself, using one of the free Shopify themes. The store itself launched in a month from start to launch, although I&rsquo;d been researching products for about 2 months prior to actually setting up a Shopify account, and then spent another
                                month of spare time (1h here, 2h there, etc) editing images, writing product descriptions, etc.</br>

                                I&rsquo;ve only got about 20 products listed so far, with dozens more waiting to be added as I have time. My plan is to add new items each month to keep
                                customers engaged and always coming to see what&rsquo;s new, rather than adding them all at once and then the store never changes. I think people would get bored with that.
                              </p>
                            <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                            <p>I&rsquo;m using a theme called <a href="https://themes.shopify.com/themes/minimal/styles/music/?ref=builtwithshopify">Minimal</a>, as I believe it does a great job of putting the focus on the products instead of how the site looks. I&rsquo;ve done minimal customizations with
                                colors and images, but no code edits.</p>
                            <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                            <p>For order tracking I use <a href="https://apps.shopify.com/aftership/?ref=builtwithshopify">AfterShip</a>, and customer retention and marketing I use <a href="https://apps.shopify.com/mailchimp/?ref=builtwithshopify">MailChimp</a>, <a href="https://apps.shopify.com/privy/?ref=builtwithshopify">Privy</a>, and <a href="https://apps.shopify.com/shoelace-retargeting">Shoelace Retargeting</a>.
                                I offer free USA shipping on all the products, and to let customers know about that I use an app called <a href="https://apps.shopify.com/quick-announcement-bar-always-keep-your-customers-informed/?ref=builtwithshopify">Quick Announcement Bar</a>. They&rsquo;re all pretty
                                important, but I think it&rsquo;s a tie between Shoelace Retargeting and Mailchimp, because being able to follow up with potential customers who leave before they check out is important. I haven&rsquo;t even touched Instagram yet, but that&rsquo;s
                                definitely on the to-do list for this year.</p>
                            <h4><strong>What are your most successful marketing avenues?</strong></h4>
                            <p>Facebook is definitely a strong marketing avenue, this was built with a combination of sharing daily recipes, as well as running an ad campaign to build followers who were interested in home cooking with quality tools. I&rsquo;m now starting to share
                                featured products daily using an app called <a href="https://recurpost.com/">RecurPost</a>, which will post a couple of products each day automatically. I use Facebook to benefit the store by sending traffic to the featured products on the site, as
                                well as sending traffic to the Amazon listings. I also use Pinterest to drive traffic, with pinned recipes and featured products. </p>
                                <div class=" col-md-3 animate-box tip-box-left">
                                  <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                  <span>Be everywhere and be different. Selling on Etsy, Amazon and your own store is almost a necessity for crowded industries.</span>
                                </div>
                            <p>The Shopify store is still fairly new, and I haven&rsquo;t really focused much active marketing on it yet. I&rsquo;m still driving most traffic to the Amazon listings and that has been the biggest revenue source so far. I&rsquo;ve also just started setting up the automation back-end for order fulfillment and I haven&rsquo;t even started building out an email autoresponder sequence yet.
                                Or product upsells/cross sells, etc.</p>

                            <p>My first Shopify store, for another business, wasn&rsquo;t optimized for efficiency at all. Rather than being an automated sales machine, it turned into a full time job where I was spending every day answering questions, fulfilling orders, tweaking the
                                site, etc. For my next one I wanted to do things differently so I&rsquo;m spending relatively little time on it and the time I am spending on it is focused on building automation systems so it will actually be as passive as possible. </p>
                            <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                            <p>If I had to start over, I would do things a bit differently. I started out with a product, and then look for people to sell it to. If I were just starting out now, I&rsquo;d look for people who had a problem and then find a way to solve it for them. I
                                did this with the kitchen tongs, people didn&rsquo;t like that their tongs would touch their counter while cooking and so I had ones made with little stands to solve the problem. But, I didn&rsquo;t start out with that. I&rsquo;d start by finding
                                out what people don&rsquo;t like about existing products, and make mine different. Either in design, or just by marketing it differently. I&rsquo;d also start building a list sooner. Since I started on Amazon, they got the emails from all those customers
                                instead of me. Lesson learned.</p>
                            <p>I read quite a few blogs and watched quite a few YouTube videos about selling on Shopify, but the 3 main ones that got me started were:</p>
                            <ul>
                                <li><a href="https://www.abetterlemonadestand.com">https://www.abetterlemonadestand.com</a> - general business/startup tips</li>
                                <li><a href="https://embolden.co">https://embolden.co</a> - Shopify advice and resources</li>
                                <li><a href="http://www.tillboadella.com/">http://www.tillboadella.com/</a> &nbsp;- Facebook ads and business info</li>
                            </ul>


                            <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
