<!DOCTYPE html>
<!--[ lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></strong></h1>
                        <h3>Fabio Molle<a href="<%= link %>"></a> discusses using his experience in ecommerce to create and sell a new line of silk pillowcases.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <!-- Start Interview -->
                              <h2>Could you tell us a bit about yourself and what Lelini sells?</h2>
                                <p>Lelini sells premium silk pillowcases made with the finest mulberry silk and certified non toxic dyes.</p>
                                <img class="img-responsive" alt="Lelini Pillows " src="/images/lelini/lelini_shopify_pillows_products.jpg">
                                <figcaption class="figure-caption text-center">Source: <a href="https://www.lelini.com/">Lelini</a></figcaption>
                                </figure>
                                <br />
                                <p>My background is in eCommerce and for 10 years I have been running a eCommerce store called <a href="https://www.funkychristmasjumpers.com/">FunkyChristmasJumpers.com</a> which sells our uniquely designed novelty Christmas Jumpers. With my experience in the area I always wanted to launch a new site. I had heard the benefits of Silk pillowcase mentioned many times through some of my friends who worked in the hair dressing world. Initially I thought it was crazy but then researched the area and the benefits as well as possible competitors and thought the products actually had great benefits and it was possible for me to build a new brand starting with the pillowcases.</p>
                                <h2>What did you do in the lead up to launching your store?</h2>
                                <p>We reached out to local influencers in the hair and skincare area who worked with us to create a buzz about our launch which directed people to our site. &nbsp;We then collected emails from the visitors and sent out emails building up to our launch. We also targeted females in our Christmas Jumper mailing list.</p>
                                <img class="img-responsive" alt="Lelini Pillows " src="/images/lelini/lelini_shopify_product_montage.jpg">
                                <figcaption class="figure-caption text-center">Source: <a href="https://www.lelini.com/">Lelini</a></figcaption>
                                </figure>
                                <br />
                                <h2>How did you create your first product and get your first sales?</h2>
                                <p>We spent 6 months talking to different manufacturers in China (and Europe) to find the right type of silk. After many nights of testing while sleeping we found the optimal silk pillowcases. Our initial sales came from the visitors that the influencers helped bring to our site as well as from our Christmas Jumper mailing list.</p>
                                <h2>Which Shopify apps do you use? Which apps are most important to your business?</h2>
                                <p>Apps we use:
                                  <ul>
                                <li ><a title="Just uno ecommerce conversion" href="https://www.justuno.com/increase-ecommerce-sales-conversions.html" target="_blank">Just Uno</a>&nbsp;(on hold now that we use Wheelio but they have now a similar popover that we have yet to test)</li>
                                <li ><a href="http://1.shopifytrack.com/SHUB">Klaviyo</a></li>
                                <li ><a title="Shopify wheelio app" href="http://1.shopifytrack.com/SHZz" target="_blank">Wheelio</a></li>
                                <li ><a title="best currency converter shopify app" href="http://1.shopifytrack.com/SHbx" target="_blank">Best Currency Converter</a></li>
                                <li ><a href="http://1.shopifytrack.com/SHWx">Product Reviews</a></li>
                                <li ><a href="http://1.shopifytrack.com/SHa3">Product Reviews Add on by Shopry</a></li>
                                <li ><a href="http://1.shopifytrack.com/SHV7">Retargeting on Autopilot by Shoelace</a></li>
                                <li ><a title="Xero" href="http://1.shopifytrack.com/SHc1" target="_blank">Xero</a></li>
                                </ul>
                                </p>
                                <p>We find all the above important and below I will describe why</p>
                                <ul>
                                <li >Klaviyo -&nbsp;Targeted emails are necessary in any eCommere business. It helps us build automated emails that are specific to customers and non-customers. It really helps us put a part of the business on autopilot.</li>


                                <li >Wheelio -&nbsp;I always wanted a spinner like Wheelio as a popover and the guys have done an awesome job building it. It&rsquo;s really interacting and visitors love it as well as converting much better than standard popovers.</li>


                                <li >Best Currency Converter -&nbsp;Our store is in Euro but our visitors are international and we found not having a local currency visible to our visitors was hurting our sales. This app works really well, is simple to use and helps our customers feel like they are on a local site.</li>


                                <li >Product Reviews -&nbsp;Standard shopify app that is essential - Reviews are a massive part of the business.</li>


                                <li >Product Reviews Add on by Shopry -&nbsp;This app by the awesome guys at shopry brings out the best in the shopify reviews. It easily allows customers to make reviews and increase the conversion rate of reviews. Their support is amazing and they are always adding new features.</li>


                                <li >Retargeting on Autopilot by Shoelace -&nbsp;This is a new app we are just trialing, its early days but I have heard great things about the team at shoelace and again their support is A+</li>


                                <li >Xero -&nbsp;Seamless integration between our online store and Xero. Cuts out alot manual labour and highly recommended</li>
                                </ul>
                                <h2>What is your average monthly revenue or number of orders?</h2>
                                <p>At the moment our numbers are up and down alot, as we have built our sales on influencers, Visitors peak initially shortly after a influencers post on Instagram or Snapchat with traffic been higher than normal for up to 72 hours. We are currently starting to work on our SEO to help improve daily visitors without the help of influencers. Sales vary from 1-10 a day.</p>
                                <h2>What are you working towards now? </h2>
                                <p>We are working towards improving our SEO and increasing inbound links to our site from established blogs and online publications. We feel this is an essential part for the business that will help improve ranking which will increase daily visitors to our site and ensure long term traffic.</p>
                                <h2>Are there any blogs or resources that have been helpful for you?</h2>
                                <p>I am a active member of <a href="http://www.ecommercefuel.com/">eCommerceFuel.com</a>&nbsp;and find the forum an unbelievable place to grow by knowledge of the eCommerce world as well as learn new tips and tricks for Shopify.</p>
                                <!-- End Interview -->
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <% include ../snippets/footer.ejs %>
        </footer>
    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
