<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3><a href="https://naakbar.com/">Naak</a> sell energy bars for athletes made from cricket powder! They talk about how they launched their multilingual Shopify site.</h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">


                              <h4><strong>What was the motivation behind starting Naak and when did you get started with Shopify?</strong></h4>
                              <p>We want to develop a product to help athletes and active people who want a natural and eco-friendly nutrition. We started with shopify in August 2016.</p>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Store Fact! <span class="tip-store-fact fa fa-bug" aria-hidden="true"></span></h4>
                                <span>Crickets have 2 x more protein than beef, 1.6x more calcium than milk and 2x more iron than spinach!</span>
                              </div>
                              <h4><strong>What are your most successful marketing avenues and tools?</strong></h4>
                              <p>Mostly Facebook (posts and ads) and we analyse everything with <a href="https://analytics.google.com/">Google Analytics</a>, <a href="https://mixpanel.com/">Mixpanel</a>, <a href="https://www.hotjar.com/">Hotjar</a>&nbsp;(and Shopify). We also do a lot of PR, which is important when you sell cricket powered energy bars!</p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer?</strong></h4>
                              <p>We bought a template and did everything else ourself.</p>
                              <h4><strong>How long did it take until you were ready to launch?</strong></h4>
                              <p>Less than a month, but we are improving our website continually.</p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p><a href="https://themes.shopify.com/themes/pipeline/styles/bright">Pipeline</a>, yes we have customized it, added more sections etc. and a lot of html modifications</p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h4>

                              <ul>
                              <li><a href="https://apps.shopify.com/langify">Langify</a></li>
                              <li><a href="https://apps.shopify.com/mailchimp">Mailchimp</a></li>
                              <li><a href="https://apps.shopify.com/privy">Privy</a></li>
                              <li><a href="https://apps.shopify.com/shopify-recurring-payments">Recharge</a></li>
                              <li><a href="https://apps.shopify.com/shipstation">Shipstation</a></li>
                              <li><a href="https://apps.shopify.com/store-locator-4">Store locator</a></li>
                              <li><a title="Yotpo Shopify app" href="https://apps.shopify.com/yotpo-social-reviews">Yotpo</a></li>
                            </ul>
                            <div class=" col-md-3 animate-box tip-box-left">
                              <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                              <span>You can translate your theme using the <a href="https://help.shopify.com/manual/sell-online/online-store/translate-theme">Shopify language settings</a>. You can also use these settings to <a href="https://help.shopify.com/manual/sell-online/checkout-settings/translate-checkout#create-your-own-checkout-language">change the checkout language of your store. </a></span>
                            </div>
                              <p>A lot of them a crucial to our business. Langify allow us to have a bilingual store, and it&rsquo;s needed in Quebec, Shipstation made shipping easier, Recharge allow us have subscriptions.</p>

                              <h4><strong>What does your fulfillment process look like?</strong></h4>
                              <p>We try to ship as fast as possible, so every day we allocated time to prepare order and send everything. With Shipstation is quite easy to handle a lot of order.</p>
                              <h4><strong>Any other advice for Shopify store owners?</strong></h4>
                              <p>Shopify is an excellent tool but it also has&nbsp;some limitations. So be aware of what you want to have and know your skills, focus on what will bring value to your business. Prove your product market fit before investing too much time developing your store.</p>
                              <% include ../snippets/mailchimp_footer.ejs %>

                       </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
