<!DOCTYPE html>
<!--[ lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></strong></h1>
                        <h3>Pier is part of a larger team at <a href="<%= link %>">Revested</a> who are creating high quality, unique accessories for everyday use. The team is based in Milan, Italy.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <!-- Start Interview -->
                              <h3>What does Revested sell?</h3>
                              <p>Revested sells smartphone accessories made with the finest Italian fabrics for tailor made suits.</p>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Check out my interview with <a href="http://www.builtwithshopify.com/shopify-case-studies/mmore-cases">MMORE Cases</a> and <a href="http://www.builtwithshopify.com/shopify-case-studies/proper">Proper</a> for more mobile accessory interviews.</span>
                              </div>
                              <h3>What was the motivation behind starting Revested and when did you get started with Shopify?</h3>
                              <p>We started Revested because we wanted to combine the Italian taste and sartorial tradition to create uniquely crafted accessories. With Shopify we started in the end of October 2016.</p>
                              <p>
                                <figure>
                                  <img class="img-responsive" style="width: 60%;" alt="studio proper" src="/images/revested/built-with-shopify-revested-about.jpg">
                                    <figcaption class="figure-caption text-center"><a href="https://revested.it/pages/our-story">Revested</a> make uncompromising accessories.</figcaption>
                                  </img>
                                </figure>
                              </p>
                              <h3>What are your most successful marketing avenues and tools?</h3>
                              <p>We only communicate on social media since we want to be close to our customers and prospects in their daily life. Facebook and Instagram advertising allows us to be instantly on air with our campaigns and to target our audience while measuring our K.P.I.s and the ROI of every activity we launch in realtime.
                                FB and IG, as Shopify, are fantastic tools, they play a vital role but, at the same time, they are not enough.</br></br>Today the real challenge on social media, for a brand like Revested, is to get the attention of our target and to present our products without loosing the focus on building a strong brand awareness. You have to balance your desire to convert your users and the aspiration to create a strong brand.
                              In order to do this it&rsquo;s essential to move as fast as possible and get the best out of every social media innovation, for example Instagram Stories.</p>
                              <h3>How long did it take until you were ready to launch from initial conception?</h3>
                              <p>It took almost one year. Most of that time was spent in finding the best partners for the product development and to refine every product detail since we wanted to position our brand in the luxury market.</p>
                              <p>
                                <figure>
                                  <img class="img-responsive" style="width: 60%;" alt="studio proper" src="/images/revested/built-with-shopify-revested-iphone-cases.png">
                                  </img>
                                </figure>
                              </p>
                              <h3>What theme are you using? Have you done any theme customizations?</h3>
                              <p>We are using <a title="Shopify brooklyn theme" href="http://1.shopifytrack.com/SHcD">Brooklyn theme</a>&nbsp;with some personal customizations that allowed us to add a product storytelling while still focusing on the main goal: conversion.</p>
                              <h3>What Shopify apps do you use? Which apps are most important to your business?</h3>
                              <p>Every good app is welcome, but we think every move has to bring a real improvement to our business. For example, there&rsquo;s no use in having your store with multiple currencies if you are not investing in a multi country communication or you are not ready in shipping your products worldwide, or to manage a global customer care. </p>
                              <p>We are currently using <a title="Sufio Shopify app" href="http://1.shopifytrack.com/SHcH">Sufio</a>, <a href="http://1.shopifytrack.com/SHUF">Langify</a>, <a title="Covet Pics Shopify app" href="http://1.shopifytrack.com/SHcL">Covet.pics</a>. Actually, the best app was custom made because we needed to ship our products with different methods according to the destination country. I remember that gave us some headaches, and in the end the solution was a simply day of work of a good developer we found among the Shopify community.</p>
                              <h3>Any other advice for Shopify store owners?</h3>
                              <p>Don&rsquo;t hesitate, but don&rsquo;t rush in taking actions too. And if you want to test things, try to do it in the safest way. Online credibility is hard to get and very easy to lose, that&rsquo;s why customer care is so important. Remember users aren&rsquo;t only numbers on a dashboard but they are real people living in the real world. One satisfied customer, will speak in your favour, and in the end he/she will worth more than every $1,000 advertisement. <br /></p>
                              <!-- End Interview -->
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <% include ../snippets/footer.ejs %>
        </footer>
    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
