<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3>David from <a href="https://www.silicagelly.com/">Sillica Gelly</a> talks about transitioning their nearly 20 year old business to a Shopify store and what marketing has worked for them.</h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <h4><strong>Where did you get the idea to start selling SillicaGelly?</strong></h4>
                              <p>The idea of supplying silica gels and desiccants came about as my dad runs a camera store, and was supplying them in-store - it is important to ensure that your camera equipment stays dry and to protect your gear from humidity. I started to realize that
                                  these small packets had a very important function to lower moisture levels not only just for cameras, but can also be used for many other items. There were no other suppliers on the market especially ones who were selling silica gels and desiccants
                                  in small consumer packages - so this was how SilicaGelly started.</p>
                              <h4><strong>What are your most successful marketing avenues? </strong></h4>
                              <p>One of the most successful marketing avenue for SilicaGelly is Google Adwords, this was the way we started to advertise our products. As the business continued, we also realized the importance of SEO - which is to rank higher in search results organically,
                                  which is why we come out with articles from time-to-time that are related with silica gels and desiccants.
                              </p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer?</strong></h4>
                              <p>SilicaGelly was built entirely on my own, with the ease of use of Shopify and with tons of applications that are relatively plug-and-play, it makes Shopify super easy to use.
                              </p>
                              <h4><strong>How long did it take until you were ready to launch?</strong></h4>
                              <p>It probably took just about 2 months to get the website 100% ready. At the time, I was also working full time in a financial company and only had several hours in a week to work on my online store. If I had more time, it could have been completed much
                                  quicker.
                              </p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>I am currently using a paid theme called Retina by Out-Of-The-Sandbox. Hands down my favorite theme. Really professional looking that stands in line with our business and truly easy to customize. I love the built in Instagram feature that comes with the
                                  theme, it automatically syncs your instagram with the front page. A small tip, what I like to do is to take pictures of all my packages that are going out that day and upload to instagram, this not only allows customers to see their packages going
                                  out, but more importantly to show new visitors that my website is active and business is booming!
                              </p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                              <p>I use tons of Shopify apps. Some of my most important apps are:
                              </p>
                              <ul>
                                  <li><a href="https://apps.shopify.com/chatra">Chatra Live Chat</a></li>
                                  <li><a href="https://apps.shopify.com/klaviyo-email-marketing">Klaviyo Email Marketing</a>&nbsp;and
                                  </li>
                                  <li><a href="https://apps.shopify.com/yotpo-social-reviews">Yotpo Reviews</a>.
                                  </li>
                              </ul>
                              <p>Chatra is a live chat system that runs on the website, allowing visitors to easily open chat if they have any questions. Klaviyo is an email marketing app that follows up with my customers before, during, and after their purchase. Yotpo Reviews is an
                                  app that creates a review page at the bottom of the product page, that can help to boost trust and confidence for new buyers.
                              </p>
                              <h4><strong>If you had to start over what would you do differently? </strong></h4>
                              <p>If I had to do it all over again, I would probably have started using Shopify much earlier. For those who are new, Shopify I&rsquo;d highly recommend starting out with the free trial, and then upgrading to the Basic plan, this gives you the flexibility of exploring what Shopify has to offer at a lower cost.</p>
                              <% include ../snippets/mailchimp_footer.ejs %>

                       </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
