<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3><a href="http://thewishco.com/">The Wish Co</a> explains how they relaunched their Etsy store on Shopify quickly, selling handmade Jewellery with a unique product and personalised experience. </h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                                <h4><strong>Could you briefly explain the products that The Wish Co sell?</strong></h4>
                                <p>We sell unique handmade jewelry created from dandelion seeds, feathers, immortalized flowers, clover, leaves and crystals. Many of our pieces can be customized with your choice of charms, chain lengths etc. All purchases
                                    come in a handcrafted gift bag or box.<br /><br />
                                    <img class="img-responsive" alt="Luks Linen Shopify" src="/images/wishco/shopify_products.png">
                                    <figcaption class="figure-caption text-center">Some of the unique products from <a href="https://thewishco.com/">The Wish Co.</a></figcaption>
                                  </p>
                                <h4><strong>What was the motivation behind starting The Wish Co and when did you get started with Shopify?</strong></h4>
                                <p>I&rsquo;ve always loved dandelions - they bring back childhood memories. I started creating dandelion seed jewelry about 2 years ago and then from there was inspired to incorporate flowers, leaves, feathers and other pieces
                                    of nature into my jewelry. I got started using shopify in 2016 with my other store (the Dandelion Wish Co.) but recreated the store with all my updated designs and renamed it &lsquo;The Wish Co.&rsquo; in January 2017.</p>

                                <h4><strong>Did you build your Shopify store yourself or hire a designer?</strong></h4>

                                <p>I built it myself through a lot of trial and error. Fortunately Shopify is very user friendly and the 24 hour chat service has been a huge help.</p>
                                <img class="img-responsive" alt="Luks Linen Shopify" src="/images/wishco/shopify_wishco_about.png">
                                <figcaption class="figure-caption text-center">About <a href="https://thewishco.com/">The Wish Co.</a></figcaption><br />

                                <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                                <p>I am using the <a href="https://themes.shopify.com/themes/debut/styles/default">Debut theme</a>. I have customized it using the available shopify customizaton tools. I have created a slide show for my header and customized all the collections and individual products visible on my homepage.
                                    I was also able to customize my &lsquo;About&rsquo; section, Footer and Checkout page through the theme customizer</p>
                                <h4><strong>How long did it take until you were ready to launch?</strong></h4>

                                <p>It took about a week to complete from start to finish, with several hours work each day.</p>
                                <div class=" col-md-3 animate-box tip-box-right pull-right">
                                  <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                  <span>You can edit your products using the bulk editor in the dashboard, via <a href="https://help.shopify.com/manual/products/import-export">CSV</a> or the <a href="http://1.shopifytrack.com/SHVv">Shopify product API</a></span>
                                </div>
                                <p>I was already selling my products on Etsy, and was able to import these listings onto Shopify which saved a lot of time. Shopify&rsquo;s
                                    bulk editor also made it easy to edit listings quickly.</p>

                                <h4><strong>What are your most successful marketing avenues and tools? Do you use any tools for customer retention like email marketing? Is SEO a big part of your store?</strong></h4>

                                <p>Since recreating my store, I have not had the chance to do a whole lot of marketing as of yet, but plan to start Facebook advertising and Google Adwords. I am still working on optimizing the store&rsquo;s SEO and plan on
                                    using <a href="http://1.shopifytrack.com/SHUN">Mailchimp</a> for email marketing.</p>

                                <h4><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h4>

                                <p>I use the following apps in my store:</p>
                                <ul>
                                    <li><a title="Shopify Upsell motivator bar app" href="http://1.shopifytrack.com/SHWF" target="_blank">Upsell motivator Bar</a>&nbsp;- which pops up briefly at the top of the webpage. It&rsquo;s
                                        a great, yet subtle way to advertise promotions etc.</li>
                                    <li><a title="Consistent Cart Shopify App" href="http://1.shopifytrack.com/SHTJ" target="_blank">Consistent Cart</a>&nbsp;- To send fully customizable abandoned cart emails to customers who do not complete their
                                        purchases.</li>
                                    <li><a title="Coin Shopify App" href="http://1.shopifytrack.com/SHTF">Coin</a>&nbsp;- For currency conversion. This app automatically converts the currency based on the customers location.</li>
                                    <li><a href="http://1.shopifytrack.com/SHTZ">Email Pirate </a>- Which I use as a fully customizable pop up to capture email leads.</li>
                                    <li><a href="http://1.shopifytrack.com/SHUN">Mailchimp</a>&nbsp;- For email marketing and newsletter sign ups</li>
                                    <li><a title="shopify app - limespot" href="http://1.shopifytrack.com/SHUJ">Limespot</a>&nbsp;- Which displays targeted product recommendations to customers (such as recently viewed products, similar products etc). I
                                        use this on my individual product pages and on the checkout page as an upsell motivator.</li>
                                </ul>



                                <p>The most important ones at the moment would probably be <a href="https://apps.shopify.com/limespot">Coin</a>, as I sell a lot of products internationally. Also Limespot has been great for upselling and increasing cart value.</p>
                                <h4><strong>What does your fulfillment &amp; shipping process look like? Do you handmake all of your jewellery to order?</strong></h4>
                                <p>Some of my best selling jewelry is already made up ready to go, but then each piece is customized (ie chain length, color, charm etc) based on the customer&rsquo;s selections. Other pieces are made from scratch. All are
                                    created by myself and shipped out on the same business day.</p>
                                <h4><strong>Are there any metrics you can share in terms of Monthly sales, traffic or order volume?</strong></h4>
                                <p>At this point in time I am averaging 5-10 orders a day through Amazon and Etsy. </p>

                                <!-- Tip Box -->
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Google Shopping is another great selling avenue.</span>
                              </div>
                              <p>I have not yet had the chance to market my new Shopify store as it has only been completed for a little over a week. I am looking forward to
                                    slowly increasing the traffic and sales through my own store and building a customer database.</p>

                                    <p>My goal is to receive the majority of my sales directly through my Shopify store rather than through online marketplaces.</p>


                                <h4><strong>Any other advice for Shopify store owners? Anything you would do over if you started again?</strong></h4>
                                <p>As this was my second attempt at creating a Shopify store, I am pretty happy with the way everything worked out. My advice for Shopify store owners would be to utilize the apps available. There seems to be an app for almost
                                    anything and everything, and this is a great way to further customize your store and take it to the next level. If you are currently selling through other online platforms (ebay, amazon etc), I would also suggest making
                                    use of the <a href="http://1.shopifytrack.com/SHTr">Shopify importing tool </a>as it is a huge timesaver. I was not aware of the bulk editor in the beginning, but have since saved
                                    a lot of time using this fabulous tool!</p>
                                    <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
