<!DOCTYPE html>
<!--[ lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></strong></h1>
                        <h3>Fred from <a href="<%= link %>">Tortuga</a> talks about creating a business to help you live, work, and travel on your terms with their range of travel bags. They've grown to 6 figures a month with a team located all around the world.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                                <!-- Start Interview -->
                                <h2>Could you tell us a bit about yourself and Tortuga?</h2>
                                <p>When we started Tortuga, I was working in advertising at Google. I had a cushy job but was bored and looking for something more meaningful. At the depth of the recession, my co-founder, Jeremy, and I took a two week backpacking
                                    trip to Europe. Despite a ton of pre-trip research, we couldn&rsquo;t find the right luggage for our trip. Jeremy&rsquo;s bag broke on the first day, and mine was a disorganized mess. We complained about our bags long
                                    enough during the trip that the conversation eventually turned to how we could make a better bag. When we got back to the States, we got to work making the perfect travel backpack.</p>
                                    <p>
                                      <figure>
                                        <img class="img-responsive" style="width: 80%;" alt="The Tortuga backpackm" src="/images/tortuga/built_with_shopify_tortuga_backpack.jpg">
                                          <figcaption class="figure-caption text-center">The Tortuga Backpack Source: <a href="https://www.tortugabackpacks.com/pages/about">Tortuga</a></figcaption>
                                        </img>
                                      </figure>
                                    </p>
                                <p>We now sell a range of gear for urban travel. Our ultimate goal is to help people travel, live, and work on their terms. For example, we&rsquo;re a 100% remote team with no offices.</p>
                                <h2>How did you create your first product and get your first sales?</h2>
                                <p>We spent two years trying to get our idea made into a product. After a failed attempt to manufacture in China, we tried the US again. Our US supplier was harder to work with than the overseas factories. Finally, we had
                                    to go into production or we would run out of cash before ever making anything. The first version of our bag was brutally ugly, but we got it made and put it up for sale. Since then, we&rsquo;ve redesigned our flagship
                                    backpack twice and now have a strong factory partner in China.</p>
                                    <div class=" col-md-3 animate-box tip-box-right pull-right">
                                        <span style="color: #7ab55c;" class="fa fa-quote-left" aria-hidden="true"></span><span style="font-weight: 300; font-size: 18px;"> Quote </span><span style="color: #7ab55c;" class="fa fa-quote-right" aria-hidden="true"></span></br>
                                        <span>By hiring empathic former customers for our Concierge team, we ensure that our reps are knowledgeable and care about our customers.</span>
                                    </div>
                                <p>Our first few sales came from Thrillist, a newsletter of cool stuff for men. We were thrilled with those initial sales, but they quickly dried up. From there we had to learn how to build a real, sustainable business. </p>
                                <h2>What are some of the challenges &amp; perks of having a fully remote team?</h2>
                                <p><a href="https://onyourterms.com/why-we-work-remotely-19d9bd2077b0">Working remotely</a> is challenging, but worthwhile for us. The biggest advantage is the flexibility that it offers to everyone on the team to work when,
                                    where, and how they are happiest and most productive. Working on our terms, rather than in a big open office setting, lets us be much more productive. Because we aren&rsquo;t limited by location, we can hire the absolute
                                    best people who share our values and add to our team culture.</p>
                                    <p>
                                      <figure>
                                        <img class="img-responsive" style="width: 80%;" alt="Tortuga Team" src="/images/tortuga/built_with_shopify_tortuga_team_photo.jpg">
                                          <figcaption class="figure-caption text-center">The Tortuga team meeting. Source: <a href="https://www.tortugabackpacks.com/pages/about">Tortuga</a></figcaption>
                                        </img>
                                      </figure>
                                    </p>
                                <p>The biggest challenges are communication. Without sharing a physical space, we can easily get out of sync, miscommunicate something, or lose out on the extra info that we typically learn from body language. To remedy these
                                    problems, we have frequent 1:1s and team meetings, use Slack as our &ldquo;water cooler,&rdquo; and have biannual retreats. In fact, I&rsquo;m heading to New Orleans today for our Spring retreat.</p>
                                <p>We use a 3PL (third-party logistics company) for warehousing and fulfillment. Our Concierges (customer service team) are all in-house. As a vertical commerce company, we have a direct relationship with customers that we
                                    value. By hiring empathic former customers for our Concierge team, we ensure that our reps are knowledgeable and care about our customers, their fellow travelers.</p>
                                <h2>What initiatives over the years have helped grow your business?</h2>
                                <p>Content has always been the biggest source of growth for us. Our blog, Packsmith, took off when we started to focus on helping people identify what to bring and how to pack it. By helping travelers, we became known as trusted
                                    experts in the field. Then people were willing to check out our products. Expertise is far more valuable than SEO when it comes to content.</p>
                                <h2>Which Shopify apps do you use? Which apps are most important to your business?</h2>
                                <p><a href="https://www.kissmetrics.com/" target="_blank">Kissmetrics</a>: Google Analytics couldn&rsquo;t give us a complete picture of our customers since people tend to visit our site multiple times over a week or more
                                    before making a purchase. KM helped us to get away from session-based analytics to customer-based analytics so that we can track a person from first visit to purchase.</p>
                                <p><a title="shopify mochila fulfilment" href="http://www.mochilafulfillment.com/" target="_blank">Mochila Fulfillment</a>:We recently switched 3PLs after many bad experiences with Shipwire. Mochila has been a great partner
                                    for us and dramatically reduced our shipping-related problems.</p>
                                <p><a title="Shopify returnly" href="http://1.shopifytrack.com/SHbZ" target="_blank">Returnly</a>: We implemented Returnly so that customers can request returns and print shipping labels themselves. This has relieved our Concierges
                                    of some routine work and empowered our customers.</p>
                                <p>Other apps:
                                    <ul>
                                        <li><a href="http://1.shopifytrack.com/SHbV">Fraud Filter</a></li>
                                        <li><a title="shopify google shopping" href="https://apps.shopify.com/google-shopping" target="_blank">Google Shopping</a></li>
                                        <li><a title="Shopify klaviyo email" href="http://1.shopifytrack.com/SHUB" target="_blank">Klaviyo Email Marketing for Shopify</a></li>
                                        <li><a href="http://1.shopifytrack.com/SHYz">Order Printer</a></li>
                                        <li><a href="https://siftscience.com/">Sift Science</a></li>
                                        <li><a title="Shopify transportr app" href="http://1.shopifytrack.com/SHbd" target="_blank">Transportr</a>&nbsp;- Redirect management</li>
                                        <li><a title="shopify yotpo reviews app" href="http://1.shopifytrack.com/SHWN" target="_blank">Yotpo Reviews</a></li>
                                    </ul>
                                </p>
                                <h2>What is your average monthly revenue or number of orders?</h2>
                                <p>Our monthly revenues are in the six figures.</p>
                                <h2>Are there any blogs or resources that have been helpful for you?</h2>
                                <p>Early on we worked with a lot of freelancers but have slowly brought more of this expertise and work in house to deliver a better and more consistent experience to our customers.</p>
                                <p>I&rsquo;ve been reading more newsletters and RSS feeds lately so that I can stay off of social media. <a href="http://leanluxe.com/">LeanLuxe</a> and <a href="https://loosethreads.com/">Loose Threads</a> are great reads
                                    for anyone in the v-commerce space. As an entrepreneur, I appreciate companies that are transparent about how they work and their mistakes. I recommend reading <a href="https://open.buffer.com/">Buffer</a> and <a href="https://moz.com/rand/">Rand Fishkin&rsquo;s</a>                                    blogs for a look behind the scenes of two companies that I admire.</p>
                                <h2>Where can we learn more?</h2>
                                <p>Travelers can check out <a href="http://blog.tortugabackpacks.com">Packsmith</a> for packing and gear advice and the <a href="http://www.tortugabackpacks.com">Tortuga</a> store for luggage. If you&rsquo;re interested in
                                    remote work or entrepreneurship, follow our Medium publication, <a href="https://onyourterms.com/">On Your Terms</a>.</p>

                                <!-- End Interview -->
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <% include ../snippets/footer.ejs %>
        </footer>
    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
