<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<header>
    <% include ../snippets/header.ejs %>
</header>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3><a href="<%= link %>">White Chapter</a> bootstrapped a childhood passion into a unique online business using a clothing dropshipper.</h3>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <h4><strong>Could you tell us a bit about the story behind White Chapter and what you sell? </strong></h4>
                              <p>When I was growing up, I was allowed to stay up past my bedtime as long as I was reading, so I saw it as a bit of a loophole. I ended up reading whatever I could get my hands on, which turned out to be a lot of classic books. Oliver Twist, Sherlock Holmes,
                                  Treasure Island, that sort of thing. But it was only when I got older that I realised the cultural significance of a lot of these books, and how much their stories mean to a lot of people. I wanted an understated way to show your love for your favourite
                                  classic book, the sort of thing that a person in the street wouldn&rsquo;t recognise but, up close, it would pique their curiosity.</p>
                                  <img class="img-responsive" alt="White Chapter " src="/images/whitechapter/whitechapter_shopify.png">
                                <br /><p>That&rsquo;s how the &lsquo;Chapter One&rsquo; designs were born. The first chapter of a book, printed on a t-shirt
                                  &ndash; the idea is that you would find yourself reading the t-shirt, and it would be a conversation starter.<br /> Personally, I&rsquo;m a big fan of Alice in Wonderland, so chapter one from the novel became my very first design. I also love the old Alice
                                  in Wonderland illustrations by John Tenniel, so I made a collection based around some of my favourite characters. The other collections grew from some of my other favourite classics, and I&rsquo;m looking forward to expanding the range further.</p>
                              <h4><strong>With pages on Facebook, Twitter, and Instagram, how have you found having those platforms in terms of helping you expand your business? Has the exposure/popularity of these social media outlets been similar to that of your shopify store?</strong></h4>
                              <p>Social media is the best way of interacting with people who share your interests, and that applies equally for a business. Sharing a picture on Instagram, for instance, and adding relevant hashtags is a great way to reach out to people who have similar
                                  passions to those that your business is based around, people you wouldn&rsquo;t have access to otherwise. And it doesn&rsquo;t need to be a picture of your product.</p>
                                  <div class=" col-md-3 animate-box tip-box-right pull-right">
                                    <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>There are<a href="http://1.shopifytrack.com/SHVz"> plenty of apps to choose from </a>to connect your social profiles to your Shopify store.</span>
                                  </div>
                                  <p> Most of White Chapter&rsquo;s Instagram and Facebook activity is around classic books
                                  and novels generally, which has helped connect with the communities that are passionate about reading and literature, because it&rsquo;s those communities that will (hopefully) be interested in White Chapter&rsquo;s products. And because all of the
                                  social media platforms connect directly to your business, you can usually see an equivalent increase in traffic.</p>
                              <h4><strong>Has ecommerce been apart of White Chapter since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                              <p>White Chapter very much began online and ecommerce has been part of it from the start. The Shopify store went live towards the end of 2016, and using Shopify was an easy decision.<br /> I considered a number of different platforms, including using Wordpress
                                  with WooCommerce, but Shopify&rsquo;s combination of apps, functionality and built-in ecommerce were hard to beat.</p>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                          <span>Check out our <a href="./resources">resources</a> page for the Shopify blogs and others.</span>
                              </div>
                                  <p> They also offer unrivalled support and have some excellent info for new businesses in their blog &ndash; you really could spend days
                                  getting lost in all of their content!</p>
                              <h4><strong>What are your most successful marketing avenues?</strong></h4>
                              <p>I&rsquo;ve admittedly been a bit lax on formal marketing up to this point, and it&rsquo;s very much the next step that I need to focus on. That said, I&rsquo;ve had some success with Facebook ads which are ideal for targeting a very specific demographic.</p>

                              <div class=" col-md-3 animate-box tip-box-right pull-right">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Creating lookalike audiences with Facebook and retargeting people who have visited your website using apps like <a href="http://1.shopifytrack.com/SHV7">Shoelace</a> can be super effective.</span>
                              </div>

                                  <p>You can make your adverts as broad or as niche as you like, which has allowed me to focus on people of a particular age range who are interested in classic books. Separately, there&rsquo;s also been a great response from traditional word of mouth,
                                  which is really encouraging for two reasons: it shows people are genuinely excited by your products, and also shows that a person&rsquo;s voice can still influence as much as their ability to share something online!</p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                              <p>Prior to launching White Chapter I had no website design experience myself, but Shopify is simple and intuitive enough that I never felt the need to hire a designer. I learnt a great deal just from working through the various sections of the Shopify dashboard,
                                  my understanding being that if I worked through them all my store would be ready to go! All in all it took about two weeks to get the website up and running as you see it now, although that also includes a lot of product design work &ndash; if I were
                                  to create a Shopify store again I could probably get it set up in a weekend or so, because so many of the things that I had to learn the first time around would be easy to replicate the second.</p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>I&rsquo;m currently using the &lsquo;<a href="http://1.shopifytrack.com/SHVF">Debut</a>&rsquo; theme, which is actually one of the default themes that comes pre-loaded on Shopify. Early on I spent a lot of time trying out different
                                  themes and tweaking them in various ways, but the idea of White Chapter is that it should be simple and understated, and I wanted the website to reflect that. So I went back to the Debut theme which is very clean and minimalist, and made a few customisations
                                  through the &lsquo;customise theme&rsquo; page to add a couple more sections. But beyond that I&rsquo;ve tried to resist the urge to spend hours fiddling with the theme, because otherwise I know I&rsquo;d never get anything done.</p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                              <p>Being a UK-based business, the key app for White Chapter is the <a href="http://1.shopifytrack.com/SHTz">Inkthreadable</a>&nbsp;app. Inkthreadable is a dropshipping supplier, similar to <a href="http://1.shopifytrack.com/SHUZ">Printful</a>&nbsp;in
                                  the US, and allows you to upload your designs onto products from a range of suppliers. Through the Shopify app, you can integrate the products directly into your store so that, when a customer places an order, it connects directly to the guys at Inkthreadable.
                                  They will then fulfil the order and send it straight to the customer. This has added a great deal of flexibility to the business, and is a great way to quickly get an idea off the ground without needing to worry about holding inventory.</p>
                              <p>I&rsquo;m also a big fan of <a href="http://1.shopifytrack.com/SHUx">SEO Manager</a>, which is the top-rated SEO app for Shopify, and for good reason. The $20.00 per month price tag might seem a little steep, but the free trial lets you get
                                  a flavour of what the app is all about &ndash; and the customer service is second to none. They will even go into your theme and customise your code for you, and from there you can optimise your SEO at the click of a button. It&rsquo;s worth a go
                                  even if you decide to get rid of it after the free trial, just to point yourself in the right direction with SEO. Separately, an honourable mention has to go to &lsquo;<a href="http://1.shopifytrack.com/SHTv">Improved Contact Form</a>&rsquo;,
                                  which does what it says on the tin &ndash; adds a simple contact form to your website, which makes it easy for customers (or Built With Shopify!) to get in touch.</p>
                              <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                              <p>I mentioned the Shopify blog being a real treasure trove of information for new businesses, but there are some great resources out there for all aspects of ecommerce. The <a href="http://reddit.com/r/entrepreneur">r/Entrepreneur</a>&nbsp;community on
                                  reddit has some real gems and you can learn a lot from the experiences other users share on there. From pulling my Shopify store together on a budget, I tried to rely on free resources as much as possible. In particular, I used the &lsquo;<a href="https://www.gimp.org/">GIMP</a>&rsquo;
                                  software as a free alternative to Photoshop/Illustrator to design the logo and products, and there are plenty of free tutorials online to get you started with it. I&rsquo;d also never appreciated how crucial pictures are to a website before I looked
                                  at my blank, white Shopify template. With no good pictures of my own, I relied on websites like <a href="https://stocksnap.io/">StockSnap.io</a>&nbsp;and <a href="https://unsplash.com/">Unsplash.com</a>&nbsp;for beautiful hi-res stock photos, and
                                  would thoroughly recommend checking them out before paying for stock images. And it goes without saying that you should get <a href="https://analytics.google.com/analytics/web/">Google Analytics</a>&nbsp;up and running on your Shopify site from day
                                  one, in order to track all sorts of data for free!</p>

                                  <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
