<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <!-- Start Blog Post -->
                              <p><span >Brisbane, Australia recently held the largest Shopify meetup in the Southern Hemisphere! We had Jason from the Shopify Partner Program, Jerko from Google and Mike from one of Australia&rsquo;s leading fashion brands Culture Kings discuss the topic of the night: Growing your Shopify Business in 2017.</span></p>
                              <figure>
                              <img class="img-responsive" alt="Brisbane Shopify Meetup" src="/images/blog/shopify_meetup/brisbane_shopify_meetup_attendance.jpg">
                              <figcaption class="figure-caption text-center">Roughly 250 guests in attendance.</figcaption>
                              </figure>

                            </br>
<h2>Mike Angel, Ecommerce Director for Culture kings</h2>
                                <p>Culture kings is a worldfamous streetwear retailer stocking over 100 brands representing the relationship between music, sport and fashion. Recently the company had a warehouse fire where they lost $18 million in stock!</p>
                                <figure>
                                <img class="img-responsive" alt="Brisbane Shopify Meetup" src="/images/blog/shopify_meetup/culture_kings.jpeg">
                                <figcaption class="figure-caption text-center">Mike from Culture Kings</figcaption>
                                </figure>
                                <p>Mike Angel begun by talking about their switch from Magento to Shopify. He discussed some of the benefits Shopify had over Magento such as:</p>

                                <p>
                                <ul>
                                <li >Its ability to scale right up to the levels of traffic Kylie Jenner was seeing with 204,011 simultaneous visitors.</li>
                                <li >Their developers can&rsquo;t break it due to its sandbox environment. This is opposed to Magento and Wordpress where plugins often conflict and break things.</li>
                                <li >The customer support is fantastic for merchants.</li>
                                </ul>
                              </p>
                                <p>Mike discussed how they have set up their ecommerce platform. They have multiple Shopify sites running as well as an ebay site. All of these sites plug directly into Shopify. Retail sales are entered through an enterprise resource planning (ERP) system which plugs into a product information management (PIM) system which then connects to Shopify. No products are added or changed directly in Shopify but rather edited in the PIM. Tags, collections, keywords are all added here before being uploaded to Shopify. What Shopify does do is accept orders and handle fraud prevention. It then passes the order info into their order management system. They are also working on a system to send orders directly to their retail stores to be fulfilled from there.</p>
                                <p>Shopify has also allowed them to do some interesting customizations like storing information in the meta field, creating a find in store option and a completely custom coded filter menu which they have open sourced. Being a Shopify Plus merchant they also have access to <a href="https://www.shopify.com/enterprise/98548614-introducing-shopify-scripts-a-giant-leap-forward-for-hosted-ecommerce">Shopify Scripts</a> which they use to give customers the best discount code.</p>
                                <p>Even a retailer the size of culture kings resisted the idea of editing the checkout, saying Shopify has A/B tested the hell out of it and you would be hard pressed to improve it in any way.</p>
                              </br>
                                <h2>Jerko Grom, Google</h2>
                                <p>Jerko is from one of the sponsors of the Meetup, Google. He was here to talk mainly about the Google Shopping platform. He first iterated that Australian ecommerce was currently $13 billion per year or 5.3% of total sales. Much lower than similar countries where ecommerce sales are close to 10%.</p>
                                <p>Google Shopping is possibly the most underutilized and most effective advertising platform Google has for ecommerce. They have a 15% CPC and 37% + conversion rate with 61%+ ROI. This is because people are often searching for a specific product so searches are highly relevant.</p>
                                <figure>
                                <img class="img-responsive" alt="Brisbane Shopify Meetup" src="/images/blog/shopify_meetup/google_brisbane_shopify_meetup_shopify.jpeg">
                                <figcaption class="figure-caption text-center">Jerko Grom from Google</figcaption>
                                </figure>
                                <p>Jerok gave tips on using Google Shopping such as:</p>
                                <ul>
                                <li > Making sure you have high-quality images with no background or watermark. </li>
                                <li >Use good titles</li>
                                <ul>
                                <li >In the format: Brand + Product + Attributes. </li>
                                <li >If your brand name is too long put your brand at the end of the title.</li>
                                <li >150 characters. Aim for 70.</li>
                                </ul>
                                </ul>
                                <p>For your campaign:</p>
                                <ul>
                                <li >Use low bids to test longtail keywords and see the best categories.</li>
                                <li >Focus on your most succesful products (a point confirmed by Mike).</li>
                                <li >Run best seller campaigns.</li>
                                <li >Retarget people in search who have visited your store.</li>
                                <li >Create urgency to sell by using discounts.</li>
                                </ul>
                                </br>
                                <h2>Jason Bowman, Shopify Plus</h2>
                                <p>Jason is someone many people will recognize from the Shopify forums. His small business was acquired by Shopify where he now works in as a Shopify Plus partner. We also had Reese and Josh for the merchant success department of shopify.</p>
                                <figure>
                                <img class="img-responsive" alt="Brisbane Shopify Meetup" src="/images/blog/shopify_meetup/jason_shopify_plus.jpeg">
                                <figcaption class="figure-caption text-center">You might not recognize Jason without the Mohawk</figcaption>
                                </figure>
                                <p>The topic of Jason's talk was keeping control of your brand when everything is becoming automated. Some interesting points raised:</p>
                                <ul>
                                <li >377,500 merchants now use Shopify</li>
                                <li >Focus on iteration. Test, repeat, change</li>
                                <li >Customize your experience. This is how you stand out as a brand. Don&rsquo;t buy email lists!</li>
                                </ul>
                                <p>On delivery and returns:</p>
                                <ul>
                                <li >Your product doesn&rsquo;t end when it leaves you.</li>
                                <li >Talk , follow up, and review</li>
                                <li >How can you make the experience extra special or better than it currently is?</li>
                                </ul>
                                <p>As a sidenote, this reminded me of a talk from <a href="https://www.shoesofprey.com/">Shoes of Prey</a>. They encourage users to have their products shipped to a business address so when they open the package their coworkers also get to experience the unboxing. They include discount coupons to share with friends.</p>
                                <p>Be social on social:</p>
                                <ul>
                                <li >Interact, respond and answer hard questions.</li>
                                <li >Don&rsquo;t just stream products.</li>
                                <li >Push your brand and your style. </li>
                                <li >Don&rsquo;t hide behind your platform or tech.</li>
                                </ul>
                                <p>The most important thing: just start somewhere. Try, test, repeat.</p>
                                </br>
                                <h2>Q &amp; A</h2>

                                <p><strong>Are phone numbers important?</strong></p>
                                <p>Not having a phone number is probably costing you up to 10% of your business.</p>
                                <p><strong>On selling only a few products:</strong></p>
                                <p>Be unique on shipping and customer service,</p>
                                <p><strong>Influencer marketing:</strong></p>
                                <p>Huge for Culture Kings with a large portion of their marketing budget dedicated to influencer marketing. However get in very quick as it is probably going to fade out after 2017 when the market becomes flooded with influencers on Instagram.</p>
                                <figure>
                                <img class="img-responsive" alt="Brisbane Shopify Meetup" src="/images/blog/shopify_meetup/shopify_meetup_question_time2.jpeg">
                                </figure>
                              </br>
                                <p>A big thanks to Reload Media and Little Tokyo 2 for hosting the event. All images are from the Brisbane Shopify Meetup group.</p>
                                <p><a href="https://www.slideshare.net/reload_media/brisbane-shopify-meetup-23rd-february-2017-72529113?from_action=save">Link to slides</a></p>
                                <p><a href="https://www.meetup.com/en-AU/Brisbane-Shopify-Meetup">Shopify Brisbane Meetup Group</a></p>

                              <!-- End Blog Post -->
                              <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
